.app {
  font-family: 'Nunito Sans', sans-serif;
}

.app-header {
  height: 70px;
  padding: 20px;
  color: #F1A9A0;
  border-bottom: 1px #ECECEC solid;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin-bottom: 1em;
}

.app-intro {
  font-size: large;
}

.card {
  padding: 0.5em;
  margin: 1em;
}

.my-facebook-button-class {
  color: blue;
  border: none;
  background-color: white;
}

.header-intro {
  display: inline-block;
  font-family: 'Indie Flower', cursive;
}

.header-login {
  float: right;
}

.store-header {
  color: #F64747 !important;
  font-family: 'Indie Flower', cursive !important;
}
